.Conteiner {
  width: 60%;         
  margin: 0 auto;    
  padding: 30px;      
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: oklch(100% 0.00011 271.152);
}

.Primeira{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: larger;
}

body{
    background-color: lch(77.7% 0.01 296.81);
}

h1{
    display: flex;
    justify-content: center;
}

.Conteiner2 {
  width: 60%;         
  margin: 0 auto;    
  padding: 30px;      
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: white;
}

.Segunda{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: larger;
}

strong{
    font-size: larger;
}

h2, h3{
    color: rgb(15, 15, 136);
}

hr{

width: 90%;

color:  lch(77.7% 0.01 296.81) ;

}

a {
  display: inline-block;
  padding: 10px 20px;
  background: lch(77.7% 0.01 296.81);       /* cor de fundo */
  color: rgb(15, 15, 136);              /* cor do texto */
  text-decoration: none;     /* remove o sublinhado */
  border-radius: 8px;        /* cantos arredondados */
  font-weight: bold;         /* texto mais forte */
}
