.C1{
  width: 60%;         
  margin: 0 auto;    
  padding: 30px;      
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: oklch(100% 0.00011 271.152);
}

.P1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: larger;
}

body{
    background-color: lch(77.7% 0.01 296.81);
}